<div id="navbar">
  <!-- Logo -->
  <a href="/" class="navbar-logo">
    <h3>Kinésithérapeutes</h3>
    <h2>CABINET MORAND</h2>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-droite hidden-xs hidden-sm">
    <%= link_to 'Accueil', '/index.html', class:'navbar-element navbar-lien' %>
    <%= link_to 'Cabinet', '/cabinet.html', class:'navbar-element navbar-lien' %>
    <%= link_to 'Equipe', '/equipe.html', class:'navbar-element navbar-lien' %>
    <%= link_to 'Expertise', '/expertise.html', class:'navbar-element navbar-lien' %>
    <%= link_to 'Tarifs', '/tarifs.html', class:'navbar-element navbar-lien' %>
    <%= link_to 'Contact', '/contact.html', class:'navbar-element navbar-lien' %>
  </div>
</div>
