---
title: Equipe
---

<div id="equipe" class="container-page">
  <div class="equipe-pres">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="kine-pres">
          <div class="kine-photo">
            <%= image_tag 'Thomas-Lagrange.jpg', class:'img-circle img-petite' %>
          </div>
          <div class="kine-details">
            <div class="kine-nom">
              <h3>Thomas Lagrange</h3>
              <h4>Kinésithérapeute</h4>
            </div>
            <div class="kine-parcours">
              <li>Diplômé d'ADERF 2016</li>
              <li>Moneyron</li>
              <li>Formation en cours au Certificat Australien de Thérapie Manuelle du rachis</li>
              <li>Ostéopathe</li>
              <li>IFSO Vichy</li>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="kine-pres">
          <div class="kine-photo">
            <%= image_tag 'Xavier-Guerin.jpg', class:'img-circle img-petite' %>
          </div>
          <div class="kine-details">
            <div class="kine-nom">
              <h3>Xavier Guérin</h3>
              <h4>Kinésithérapeute</h4>
            </div>
            <div class="kine-parcours">
              <li>Diplômé d'ASSAS 2016</li>
              <li>Formation en cours au Certificat Australien de Thérapie Manuelle du rachis</li>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="kine-pres">
          <div class="kine-photo">
            <%= image_tag 'Thomas-Lagrange.jpg', class:'img-circle img-petite' %>
          </div>
          <div class="kine-details">
            <div class="kine-nom">
              <h3>Clémence Hamel</h3>
              <h4>Kinésithérapeute</h4>
            </div>
            <div class="kine-parcours">
              <li>Diplômé d'ASSAS 2016</li>
              <li>Formation en cours au Certificat Australien de Thérapie Manuelle du rachis</li>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="kine-pres">
          <div class="kine-photo">
            <%= image_tag 'Xavier-Guerin.jpg', class:'img-circle img-petite' %>
          </div>
          <div class="kine-details">
            <div class="kine-nom">
              <h3>Aude Galzin</h3>
              <h4>Kinésithérapeute</h4>
            </div>
            <div class="kine-parcours">
              <li>Diplômé d'ADERF 2016</li>
              <li>Moneyron</li>
              <li>Formation en cours au Certificat Australien de Thérapie Manuelle du rachis</li>
              <li>Ostéopathe</li>
              <li>IFSO Vichy</li>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="kine-pres">
          <div class="kine-photo">
            <%= image_tag 'Thomas-Lagrange.jpg', class:'img-circle img-petite' %>
          </div>
          <div class="kine-details">
            <div class="kine-nom">
              <h3>Thomas Lagrange</h3>
              <h4>Kinésithérapeute</h4>
            </div>
            <div class="kine-parcours">
              <li>Diplômé d'ADERF 2016</li>
              <li>Moneyron</li>
              <li>Formation en cours au Certificat Australien de Thérapie Manuelle du rachis</li>
              <li>Ostéopathe</li>
              <li>IFSO Vichy</li>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="kine-pres">
          <div class="kine-photo">
            <%= image_tag 'Xavier-Guerin.jpg', class:'img-circle img-petite' %>
          </div>
          <div class="kine-details">
            <div class="kine-nom">
              <h3>Xavier Guérin</h3>
              <h4>Ostéopathe</h4>
            </div>
            <div class="kine-parcours">
              <li>Diplômé d'ASSAS 2016</li>
              <li>Formation en cours au Certificat Australien de Thérapie Manuelle du rachis</li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
