<div id="index" class="container-page">
  <header class="header" data-menustate="closed">
    <div class="grid-item  grid-item--primary">
      <%= image_tag 'Salledesport2.jpg', class:'object-fit' %>
    </div>
    <div class="grid-item grid-item--secondary  grid-item--content">
      <article class="article">
        <%= link_to '', '/cabinet.html', class:'card-link' %>
        <h4>Kinésithérapeutes</h4>
        <h2>Cabinet Morand</h2>
        <p>Situé dans le 11e arrondissement à Paris, à proximité des stations Parmentier et Couronnes, notre cabinet est constitué de 5 kinésithérapeutes et d'un ostéopathe, tous conventionnés. Nous prenons également les patients en charge à domicile dans le 10e et 11e arrondissement.</p>
      </article>
    </div>
    <div class="grid-item grid-item--secondary">
      <%= image_tag 'Couloir.jpg', class:'object-fit' %>
    </div>
    <div class="grid-item grid-item--tertiary">
      <%= image_tag 'Salledesoin2.jpg', class:'object-fit' %>
    </div>
    <div class="grid-item grid-item--tertiary grid-item--content">
      <article class="article">
        <%= link_to '', '/expertise.html', class:'card-link' %>
        <h5>Notre expertise</h5>
        <p>Kiné Respiratoire</p>
        <p>Analyse de la course</p>
        <p>Sport</p>
      </article>
    </div>
    <div class="grid-item grid-item--tertiary">
      <%= image_tag 'Salledesport3.jpg', class:'object-fit' %>
    </div>
  </header>
</div>
